# Desafio Python e E-mail

### Descrição

Digamos que você trabalha em uma indústria e está responsável pela área de inteligência de negócio.

Todo dia, você, a equipe ou até mesmo um programa, gera um report diferente para cada área da empresa:
- Financeiro
- Logística
- Manutenção
- Marketing
- Operações
- Produção
- Vendas

Cada um desses reports deve ser enviado por e-mail para o Gerente de cada Área.

Crie um programa que faça isso automaticamente. A relação de Gerentes (com seus respectivos e-mails) e áreas está no arquivo 'Enviar E-mails.xlsx'.

Dica: Use o pandas read_excel para ler o arquivo dos e-mails que isso vai facilitar.

In [155]:
import os 
import smtplib
import pandas as pd
from email.message import EmailMessage

In [156]:
tabela = pd.read_excel('Enviar E-mails.xlsx')
display(tabela)

   Gerente  E-mail   Relatório
0     Lira     NaN      Vendas
1    Julia     NaN    Produção
2     José     NaN  Manutenção
3  Gustavo     NaN   Operações
4      Ana     NaN   Logística
5    Paula     NaN  Financeiro
6    Maria     NaN   Marketing

# Teste

In [157]:

for name in tabela["Relatório"]:
    tabela.loc[tabela["Relatório"] == name,"E-mail"] = f"{name.casefold()}@gmail.com"
display(tabela)

   Gerente                E-mail   Relatório
0     Lira      vendas@gmail.com      Vendas
1    Julia    produção@gmail.com    Produção
2     José  manutenção@gmail.com  Manutenção
3  Gustavo   operações@gmail.com   Operações
4      Ana   logística@gmail.com   Logística
5    Paula  financeiro@gmail.com  Financeiro
6    Maria   marketing@gmail.com   Marketing

## Colocar os emails

In [158]:
for name in tabela["Relatório"]:
    tabela.loc[tabela["Relatório"] == name,"E-mail"] = "peusinhoph@hotmail.com"
display(tabela)

   Gerente                  E-mail   Relatório
0     Lira  peusinhoph@hotmail.com      Vendas
1    Julia  peusinhoph@hotmail.com    Produção
2     José  peusinhoph@hotmail.com  Manutenção
3  Gustavo  peusinhoph@hotmail.com   Operações
4      Ana  peusinhoph@hotmail.com   Logística
5    Paula  peusinhoph@hotmail.com  Financeiro
6    Maria  peusinhoph@hotmail.com   Marketing

## Email

In [159]:
email = "pedrohnp016@gmail.com"

## Senha

In [160]:
with open('Senha Desafio.txt') as f:
    
    senha = f.readlines()
    
    f.close()
    
senha_do_email = senha[0]

senha_do_email

'ppavsigtkyizfabp'

## Enviado email com anexos

In [175]:
for i, name in enumerate(tabela["E-mail"]):
    gerente = tabela.loc[i,"Gerente"]
    area = tabela.loc[i,"Relatório"]
    
    msg = EmailMessage()
    msg["Subject"] = f"Reportes Diarios de {area}"
    msg["From"] = email
    msg["To"] = name
    msg.set_content(f"Prezado {gerente} segue o reporte diario solicitado de {area}")
    
    with open(f"{area}.xlsx","rb") as content_file:
        content = content_file.read()
        msg.add_attachment(content, maintype = "application", subtype = "xlsx", filename = f"{area}.xlsx")
        
    with smtplib.SMTP_SSL('smtp.gmail.com', 465 ) as smtp:
        smtp.login(email,senha_do_email)
        smtp.send_message(msg)