# In

In [1]:
print('oi' in 'oie')
#in verifica string em outra string

True

# Concatenação

In [2]:
nome = input('Qual o seu nome? ')
sobrenome = input('Qual seu sobrenome? ')

print(nome + ' ' + sobrenome)
#concatenação de strings

Qual o seu nome? Pedro
Qual seu sobrenome? Henrique
Pedro Henrique

# Type

In [1]:
faturamento = 1000
type(faturamento)
#type mostra o o tipo da variavel

int

# Concatenação + troca de variavel

In [3]:
custo = 1500
print('O custo foi de ' + str(custo))
#transformar int em str para fazer a concatenação

O custo foi de 1500

# Format

In [8]:
custo = 1500
mao_de_obra = 50
lucro = 2500
print('O custo foi de {}. Tendo uma mao de obra de {}. Lucrando {} '.format(custo, mao_de_obra, lucro))
#formata a variavel e ha coloca no texto usando um '{}'

O custo foi de 1500. Tendo uma mao de obra de 50. Lucrando 2500

# Not e Pass

In [4]:
email = input('insira seu email:')
if not '@' in email:                   #'Not' nega a comparação 
    print('Email invalido')
else:
    pass                               #Simplismente passa o codigo

insira seu emailpedro@gm.ocm

# ' ' and e or

In [13]:
refri = 50
cerveja = 80

pedido1 = input('Faça seu pedido ')
pedido2 = input('Faça seu segundo pedido ')

if pedido1 == '' or pedido2 == '':    #Escrever o  == ' ' é a msm coisa que nao escrever nada no if  
    print('Digite novamente')
else:
    quant_refri = input('Refri quantidade ')
    quant_cerve = input('Cerveja quantidade ')
if quant_refri == refri or quant_cerve == cerveja:
    print('Pedido feito!')
else:
    print('Nao temos em estoque!')

Faça seu pedido asda
Faça seu segundo pedido asd
Refri quantidade 50
Cerveja quantidade 80
Nao temos em estoque!

# String

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
p e d r o @ g m a i l  .  c  o  m

In [18]:
email = 'pedro@gmail.com'
print(email[6])    #Acessa o caractere da string
print(len(email))  #Tamanho da string  (indice + 1)

g
15

# split

In [46]:
texto = 'pedro henrique dos santos'
texto.split()   # trasnforma texto em lista

['pedro', 'henrique', 'dos', 'santos']

# String (Índice inverso)

-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 p   e   d   r   o   @   g  m  a  i  l  .  c  o  m
 
 |   |   |   |   |   |   |  |  |  |  |  |  |  |  |
 0   1   2   3   4   5   6  7  8  9  10 11 12 13 14

In [30]:
email = 'pedro@gmail.com'
print(email[-9])
print(email[:5])  #acessa os caracteres até a variavel '5' menos ela
print(email[5:])  #acessa os caracteres a partir da variavel '5'
print()
print(email[:-5])  
print(email[-5:])

g
pedro
@gmail.com

pedro@gmai
l.com

# String (Uso do %d, %s)

In [44]:
#%s transforma em string
#%d transforma em inteiro

faturamento = 1000
custo = 500
lucro = faturamento - custo

print('O faturamento foi de %s. O custo foi de .O lucro foi de .' % faturamento)   #usado no python antigo
print('O faturamento foi de %d. O custo foi de %d.O lucro foi de %d.' % (faturamento,custo,lucro))  #para mais de uma variavel coloca parenteses

O faturamento foi de 1000. O custo foi de .O lucro foi de .
O faturamento foi de 1000. O custo foi de 500.O lucro foi de 500.

# String(Metodos)

In [3]:
texto = 'pedro'
print(texto.capitalize()) #Coloca a primeira letra Maisculo

Pedro

In [7]:
texto = 'Pedro'
print(texto.casefold()) #Coloca a primeira letra em minisculo

pedro

In [9]:
email = 'pedro@gmail.com'
print(email.count('o')) #Conta quantos caracteres tem no texto

2

In [39]:
email = 'pedro@gmail.com'
print(email.startswith('pedro')) #Verifica se um final do texto comeca com isso

True

In [12]:
email = 'pedro@gmail.com'
print(email.endswith('gmail.com')) #Verifica se um final do texto termina com isso

True

In [2]:
email = 'pedro@gmail.com'
print(email.find('@')) #Procura onde esta o caractere no texto

5

### isalnum, isalpha, isnumeric

In [31]:
texto1 = 'Pedro123'
texto = 'Pedro$%#'

print(texto1.isalnum())  #Verifica se um texto é alfanumerico (letra e numero)
print(texto.isalnum())

True
False

In [27]:
texto1 = 'Pedro123'
texto = 'Pedro'

print(texto1.isalpha()) #Verifica se um texto é feito somente de letras
print(texto.isalpha())

False
True

In [30]:
texto1 = '123'
texto = 'Pedro'

print(texto1.isnumeric()) #Verifica se um texto é feito somente de numeros
print(texto.isnumeric())

True
False


#

In [33]:
email = 'pedro@gmail.com' 
print(email.replace('.',',')) #Replace o caractere

pedro@gmail,com

In [35]:
email = 'pedro@gmail.com' 
print(email.split('@')) #Separa no argumento

['pedro', 'gmail.com']

In [36]:
texto = '''aaaaaaaaaaaaaaaaaaaaaaaaa
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbb
        ccccccccccccccccccccccccccccc'''
print(texto.split())

['aaaaaaaaaaaaaaaaaaaaaaaaa', 'bbbbbbbbbbbbbbbbbbbbbbbbbbbbb', 'ccccccccccccccccccccccccccccc']

In [44]:
texto = '   Pedro  '
print(texto.strip())  #Retira os caracteres indesejados antes e depois

Pedro

In [50]:
nome = 'pedro henrique dos santos'
print(nome.title()) #Coloca todos os caracteres iniciais maisculo

Pedro Henrique Dos Santos

In [51]:
nome = 'pedro henrique dos santos'
print(nome.upper()) #Coloca todos os caracteres em maisculo

PEDRO HENRIQUE DOS SANTOS

# Lista index

In [10]:
mercado = ['batata','banana','tomate','cebola','pimentao']
estoque = [100,150,90,50,35]

mercado[1] = 'cenoura'
print(mercado)

i = mercado.index('cebola')
print(i)
print(estoque[i])

['batata', 'cenoura', 'tomate', 'cebola', 'pimentao']
3
50

# Append and Remove/Pop

In [27]:
lista = ['carro','moto','bicicleta','carro','caminhao','onibus','trem']
print(lista)

lista.remove('moto')
print(lista)

lista.append('metro')
print(lista)

item_pop = lista.pop(5) #somento indice
print(lista)
print(item_pop)

['carro', 'moto', 'bicicleta', 'carro', 'caminhao', 'onibus', 'trem']
['carro', 'bicicleta', 'carro', 'caminhao', 'onibus', 'trem']
['carro', 'bicicleta', 'carro', 'caminhao', 'onibus', 'trem', 'metro']
['carro', 'bicicleta', 'carro', 'caminhao', 'onibus', 'metro']
trem

# try and except

In [28]:
try:
    lista.remove('caminhão')     #tenta e se nao der , beleza
except:
    print('Esse item nao esta na lista')
print(lista)

Esse item nao esta na lista
['carro', 'bicicleta', 'carro', 'caminhao', 'onibus', 'metro']

# Max and Min

In [39]:
lista = [1000,1500,100,200,300,500,806541,3241564]

maior = max(lista)
menor = min(lista)

print(maior)
print(menor)

3241564
100

# Extend and '+'

In [24]:
lista = ['agua','pau','biscoito','bolacha']
lista2 = ['suco','polpa']
lista3 = lista + lista2

lista.extend(lista2)
print(lista)
print(lista3)
lista4 = lista[0] + lista2[0]
print(lista4)

['agua', 'pau', 'biscoito', 'bolacha', 'suco', 'polpa']
['agua', 'pau', 'biscoito', 'bolacha', 'suco', 'polpa']
aguasuco

# sort

In [30]:
lista = [1000,1500,100,200,300,500,806541,3241564]
lista.sort(reverse=True) #ordena 
print(lista)

[3241564, 806541, 1500, 1000, 500, 300, 200, 100]

# join

In [45]:
lista = ['carro','moto','bicicleta','carro','caminhao','onibus','trem']
print(lista) 
print(', '.join(lista))
print()
print('\n'.join(lista))

['carro', 'moto', 'bicicleta', 'carro', 'caminhao', 'onibus', 'trem']
carro, moto, bicicleta, carro, caminhao, onibus, trem

carro
moto
bicicleta
carro
caminhao
onibus
trem

# Sum

In [51]:
lista = [1000,1500,100,200,300,500,806541,3241564]
print('{:,.2f}'.format(sum(lista)))

4,051,705.00

# Encremento de variavel

In [2]:
lista = [100,200,300]
lista += [400]
print(lista)

[100, 200, 300, 400]

In [5]:
texto = 'Me chamo Pedro'
texto += ' tenho 20 anos'
print(texto)

Me chamo Pedro tenho 20 anos

In [6]:
numero = 500
numero += 1500
print(numero)

2000

# .Copy or lista[:]

In [9]:
lista = [1000,1500,100,200,300,500,806541,3241564]
lista2 = lista.copy()
lista[7] = 120
print(lista)
print(lista2)

[1000, 1500, 100, 200, 300, 500, 806541, 120]
[1000, 1500, 100, 200, 300, 500, 806541, 3241564]

# For

In [9]:
lista = [1000,1500,100,200,300,500,806541,3241564]

for i in range(len(lista)):
    print(lista[i])

1000
1500
100
200
300
500
806541
3241564

# For "Each"

In [5]:
lista = ['coca','pepsi','kuat','fanta']
texto = ' refri'

for item in lista:   
    print(item)
    
for ch in texto:
    print(ch)

coca
pepsi
kuat
fanta

r
e
f
r
i

# Enumerate

Valor minimo = 50

In [11]:
valores = [100,150,10,300,40,50,51,65]
refri = ['coca','pepsi','kuat','fanta','agua','suco','polpa','agua com gas']

for i,valor in enumerate(valores):
    if valor >= 50:
        print('{} unidades de {}'.format(valor,refri[i]))

100 unidades de coca
150 unidades de pepsi
300 unidades de fanta
50 unidades de suco
51 unidades de polpa
65 unidades de agua com gas

# for dentro de for

In [4]:
estoque = [100,150,10,300,400,50,51,65],[1000,1500,100,200,300,500,806541,3241564],[100,150,10,300,40,50,51,65],[1000,1500,100,200,300,500,806541,3241564]
empresas = ['coca cola','pepsi','fanta','kuat']
valor_minimo = 200
contagem = 0

for i,items in enumerate(estoque):
    for numbers in items:
        if numbers <= valor_minimo:
            print(empresas[i])

coca cola
coca cola
coca cola
coca cola
coca cola
coca cola
pepsi
pepsi
fanta
fanta
fanta
fanta
fanta
fanta
fanta
kuat
kuat

# While

In [4]:
vendas = input('Digite o produto ')
lista = []

while vendas != '':
    lista.append(vendas)
    vendas = input('Digite o produto ')
    
print(' + '.join(lista))

Digite o produto asd
Digite o produto asd
Digite o produto asdasdasd
Digite o produto asdasdasd
Digite o produto
asd + asd + asdasdasd + asdasdasd

# Tuple

In [7]:
tupla = ('pedro','01/06/2001',20)
nome, ano, idade = tupla

lista = [
    ('pedro','01/06/2001',20),
    ('pedro','01/06/2001',21),
    ('pedro','01/06/2001',22),
    ('pedro','01/06/2001',23),
    ('pedro','01/06/2001',24),
    ('pedro','01/06/2001',25),
]
age = 0

for nome, ano, idade in lista:
    age += idade
print(age)

135

# Dicionario

In [1]:
dicionario = {'tecnologia':'iphone','iphone':1500}
print(dicionario['tecnologia'])

iphone

# .get

In [3]:
print(dicionario.get('iphone'))
print(dicionario.get('iphon'))

1500
None

# Adicionar , Modificar e remover

In [18]:
dicionario = {'tecnologia':'iphone','iphone':1500}
dicionario['ipad'] = 15000  #ADD
print(dicionario)

dicionario['ipad'] = 100  #Modifica
print(dicionario)

del dicionario['ipad']
print(dicionario)

dicionario['ipad'] = 15000

#ou 

ipad = dicionario.pop('ipad')
print(ipad)

dicionario.clear()
print(dicionario)

{'tecnologia': 'iphone', 'iphone': 1500, 'ipad': 15000}
{'tecnologia': 'iphone', 'iphone': 1500, 'ipad': 100}
{'tecnologia': 'iphone', 'iphone': 1500}
15000
{}

# for dentro de dicionarios

In [22]:
dicionario = {'tecnologia':'iphone','iphone':1500,'ipad':1000}


for chave in dicionario:
    print('{} : {}'.format(chave,dicionario[chave]))

tecnologia : iphone
iphone : 1500
ipad : 1000

SyntaxError: invalid syntax (Temp/ipykernel_16060/1911291998.py, line 1)

# .items( )

In [14]:
dicionario = {'tecnologia':'iphone','iphone':1500,'ipad':1000}

print(dicionario.items()) #Transforma em Tupla

print()
for item1,item2 in dicionario.items():
    print('{} vendeu {}'.format(item1,item2))

dict_items([('tecnologia', 'iphone'), ('iphone', 1500), ('ipad', 1000)])

tecnologia vendeu iphone
iphone vendeu 1500
ipad vendeu 1000

# keys and Values *Sort

In [34]:
dicionario = {'tecnologia':'iphone','iphone':1500,'ipad':1000,'pedrofone':450}

chave = dicionario.keys()  #imprime as chaves de um dicionario
print(chave)

valores = dicionario.values()  #imprime os valores de um dicionario 
print(valores)

print()
print(list(chave))   #transforma e uma lista de fato
print(list(valores))



print()
lista = ['zzzzzzzzzz','ssssssssssssss','aaaaaaaaaaaaaa','ggggggggggggggg','bbbbbbbbbb']

lista.sort()
print(lista)

dict_keys(['tecnologia', 'iphone', 'ipad', 'pedrofone'])
dict_values(['iphone', 1500, 1000, 450])

['tecnologia', 'iphone', 'ipad', 'pedrofone']
['iphone', 1500, 1000, 450]

['aaaaaaaaaaaaaa', 'bbbbbbbbbb', 'ggggggggggggggg', 'ssssssssssssss', 'zzzzzzzzzz']

# dict.fromkeys( )  and dict( )   &  zip( )

In [4]:
refri = ['coca','pepsi','kuat','fanta','agua','suco','polpa','agua com gas']
valores = [100,150,10,300,40,50,51,65]

dicionario = dict.fromkeys(refri,0)  #transforma uma lista em dicionario com valores fixos para todas as chaves
print(dicionario)
print()

tupla = zip(refri,valores)  #Transforma 2 listas em uma tupla
for item,i in tupla:
    print('{} {}'.format(item,i))

    
tupla = zip(refri,valores)
dicionario_tupla = dict(tupla) #Transforma uma tupla em dicionario
print(dicionario_tupla)
print(dicionario_tupla['agua com gas'])

{'coca': 0, 'pepsi': 0, 'kuat': 0, 'fanta': 0, 'agua': 0, 'suco': 0, 'polpa': 0, 'agua com gas': 0}

coca 100
pepsi 150
kuat 10
fanta 300
agua 40
suco 50
polpa 51
agua com gas 65
{'coca': 100, 'pepsi': 150, 'kuat': 10, 'fanta': 300, 'agua': 40, 'suco': 50, 'polpa': 51, 'agua com gas': 65}
65

# Set

In [6]:
refri = ['coca','pepsi','kuat','fanta','agua','suco','polpa','agua com gas','coca','pepsi','kuat']
set_refri = {'coca','pepsi','kuat','fanta','agua','suco','polpa','agua com gas','coca','pepsi','kuat'}   #Set lista com '{}'
  
print(len(refri))
print(len(setRefri))           #O set nao considera itens repetidos , ou seja, da pra fazer isso:

refri = list(set_refri)
print(len(refri))

#set()

11
8
8

# Function

In [18]:
def contratar_pessoas():
    pessoa = input('Digite seu nome: ')
    lista_pessoas = []
    lista_pessoas.append(pessoa)
    return lista_pessoas

In [19]:
contratar_pessoas()

Digite seu nome: Pedro

['Pedro']

In [3]:
def soma(num1num2):
    return ,num1 + num2

soma(10,20)

30

In [6]:
def produtos(lista, padrao = 'm'):
    for i, item in enumerate(lista):
        item =item.replace('  ',' ')
        item = item.strip()
        if padrao == 'm':
            item = item.casefold()
        elif padrao == 'M':
            ititem.upper()
        lista[i] = item
    return lista

        
lista = ['  abc124 ','asd154 ','  AvS124']

print(produtos(lista,'M'))

['  abc124 ', 'asd154 ', '  AvS124']

# Sep

In [10]:
print('texto1','texto2','texto3' ,sep = '\n')

texto1
texto2
texto3

# Function com varios argumentos

In [10]:
def funcao(*args): #' * ' pode ser usado para uma funcao ter argumentos infinitos, recebe como uma tupla
    ''' recebe args numeros inteiros
    soma todos eles
    e retorna'''        #Docstring
    print(args)
    return sum(args)

funcao(10,20,30,40)

(10, 20, 30, 40)

100

In [12]:
def funcao1(**kwargs):   #' ** ' pode ser usado para uma funcao ter chaves / argumentos infinitos, recebe como um dicionario
    print(kwargs)
    if 'dicionario' in kwargs:
        kwargs = kwargs['dicionario'] + kwargs['dicionarios']
    return kwargs

funcao1(dicionario = 50,dicionarios = 50)

{'dicionario': 50, 'dicionarios': 50}

100

# Sequencia de utilização do args e kwargs

def minha_funcao(arg1, arg2, arg3, *args, k = 1, k = 2, **kwargs)
...

# POO

In [4]:
import webbrowser as wb
wb.open('https://www.google.com')

True

In [45]:
import time 
tempo_hoje = time.time()   #mostra os segundos ate hj
print(tempo_hoje)

tempo = time.ctime()      #mostra o tempo de hoje formatado
print(tempo)

1645816551.4777153
Fri Feb 25 16:15:51 2022

In [78]:
data_atual = time.gmtime()
print(data_atual)
#                                                                                RANGE[0,6] SENDO SEG 0   
#                    ANO          MES        DIA        HORA         MIN      SEC     DIA SEMANA   DIA ANO

time.struct_time(tm_year=2022, tm_mon=2, tm_mday=25, tm_hour=19, tm_min=23, tm_sec=56, tm_wday=4, tm_yday=56, tm_isdst=0)

In [44]:
time.sleep(5)
print('Demorou 5 segundos')

Demorou 5 segundos

# list comprehension

In [5]:
precos = [100,150,200,350,600]

imposto = [item * 0.3 for item in precos]
print(imposto)

[30.0, 45.0, 60.0, 105.0, 180.0]

In [8]:
meta = 200
precos = [100,150,200,350,600]
pessoas = ['pedro','peu','ph','pedrin','peuzin']

pessoas_meta = [(precos[preco], pessoa) for preco, pessoa in enumerate(pessoas) if precos[preco] >= meta]
print(pessoas_meta)

[(200, 'ph'), (350, 'pedrin'), (600, 'peuzin')]

In [10]:
meta = 200
precos = [100,150,200,350,600]
pessoas = ['pedro','peu','ph','pedrin','peuzin']

bateram_meta = [(precos[preco] + (precos[preco] * 0.1), pessoa) if precos[preco] >= meta else 0 for preco, pessoa in enumerate(pessoas)]
print(bateram_meta)

[0, 0, (220.0, 'ph'), (385.0, 'pedrin'), (660.0, 'peuzin')]

In [2]:
meta = 160
precos = [100,150,200,350,600,100,150,200,350,600]

soma_meta = sum(valor for valor in precos if valor >= meta)
print(soma_meta)

2300

# map
##### lista = list(map(function, iterable))

In [25]:
def organizar(item):
    item = item.upper()
    item = item.replace('  ',' ')
    item = item.strip()
    return item

precos = ['Bas123 ','Pos257  ',' Pra574', ' goR578']

In [26]:
produtos = list(map(organizar,precos))
print(produtos)

['BAS123', 'POS257', 'PRA574', 'GOR578']

# sort or sorted

In [61]:
produtos = {'iphone': 550, 'Samsung': 240, 'xiaomi': 540, 'LG': 650, 'hawuei': 300}
lista_produtos = list(produtos.items()) 
lista_produtos.sort()
print(lista_produtos)     #Imprime em ordem pela tabela ACII

[('LG', 650), ('Samsung', 240), ('hawuei', 300), ('iphone', 550), ('xiaomi', 540)]

In [62]:
def produtos (tupla):
    '''funcao que retorna o 2º item de uma tupla'''
    return tupla[1]
lista_produtos.sort(key = produtos)  #Sort esta recebendo a funcao produtos() e aplicando a cada item da lista[tupla()]
print(lista_produtos)

[('Samsung', 240), ('hawuei', 300), ('xiaomi', 540), ('iphone', 550), ('LG', 650)]

In [49]:
refri = ['Coca','Pepsi','kuat','Fanta','agua','Suco','polpa','agua com gas','coca','pepsi','kuat']
refri.sort()
print(refri)
refri.sort(key = str.casefold)  #faz com que o .sort() aplique a funcao em cada item da lista, nesse caso ignorando se a primeira letra esta maiscula e printando em ordem alfabetica 
print(refri)
print()

nova_lista_refri = sorted(refri)   #Cria uma nova lista com a lista antiga com o .sort()
print(nova_lista_refri)

['Coca', 'Fanta', 'Pepsi', 'Suco', 'agua', 'agua com gas', 'coca', 'kuat', 'kuat', 'pepsi', 'polpa']
['agua', 'agua com gas', 'Coca', 'coca', 'Fanta', 'kuat', 'kuat', 'Pepsi', 'pepsi', 'polpa', 'Suco']

['Coca', 'Fanta', 'Pepsi', 'Suco', 'agua', 'agua com gas', 'coca', 'kuat', 'kuat', 'pepsi', 'polpa']

# Lambda expresion

In [65]:
minha_funcao = lambda num: num * 5   #Lambda é uma funcao de uma unica linha de codigo 
print(minha_funcao(5))

25

In [67]:
imposto = 0.8

apli_imposto = lambda num: num * (1 + imposto)
print(apli_imposto(258))

464.40000000000003

# lambda + map

In [90]:
produtos = {'iphone': 550, 'Samsung': 240, 'xiaomi': 540, 'LG': 650, 'hawuei': 300}

imposto_produtos = list(map(lambda valor: valor * 1.3, list(produtos.values())))  #lambda returna uma conta
print(imposto_produtos)

[715.0, 312.0, 702.0, 845.0, 390.0]

# Filter + lambda

In [13]:
meta = 500
produtos = {'iphone': 550, 'Samsung': 240, 'xiaomi': 540, 'LG': 650, 'hawuei': 300}

meta_produtos = list(filter(lambda valor: valor[1] > meta, produtos.items()))   #Filter retorna true or not
print(meta_produtos)

[('iphone', 550), ('xiaomi', 540), ('LG', 650)]

# Lambda dentro de function

In [107]:
def calcular_imposto(imposto):
    return lambda preco: preco * (1 + imposto)    #Funcao que cria outras funcoes dentro dela com lambda

In [105]:
imposto_produto = calcular_imposto(0.3)
imposto_servico = calcular_imposto(0.8)

In [106]:
print(imposto_produto(450))
print(imposto_servico(1550))

585.0
2790.0